#mtp-toggle{
	width:40px; 
	height:41px;
	position:fixed; 
	top:50%;
	margin-top:-231px;
	margin-right:200px;
	text-align:center;
	font-size:18px;
	color:#fff;
	line-height:1;
	cursor:pointer; 
	z-index:9999; 
	border-right:0;
	right:-200px;
}
#mtp-toggle:after {
	position:absolute;
	top:0;
	left:0;
	content:'+';
	height:41px;
	line-height:39px;
	font-size:30px;
	font-weight:bold;
	width:100%;
	text-align:center;
}
#mtp-toggle.mtp-toggle-close:after {
	content:'-';
	line-height:36px;
}
#mtp-toggle.absolute {
	position:absolute;
	top:28px;
	margin-top:0;
}

#mtp-wrapper{
	width:200px; 
	min-height:400px; 
	background:#fff; 
	position:fixed; 
	top:50%;
	right:-200px;
	margin-top:-231px;	
	z-index:9999; 
	border-width:1px;
	border-style:solid;
	border-right:0;
}

#mtp-toggle.mtp-toggle-close + #mtp-wrapper {
	
}
.admin #mtp-wrapper {
	margin-top:-315px;
}
.admin #mtp-toggle {
	margin-top:-239px;
}
#mtp-wrapper.absolute {
	position:absolute;
	top:28px;
	margin-top:0;
}
#mtp-wrapper #mtp-header{ 
	padding:10px 20px; 
	font-weight:bold; 
	font-size:12px;
	color:#fff;
}
#mtp-content{
	padding:15px 35px 20px;
	font-size:12px;
}
.mtp-content-title{font-weight:bold; padding:0 0 5px; line-height:1;}
.mtp-divider { height:1px; background:#eee; margin:6px -35px;}

#mtp-content select {
	width:100%;
	padding:5px;
	border:1px solid #eee;
	background:#f4f4f4;
	font-size:11px;
	margin-bottom:3px;
	border-radius:0;
}

#mtp-content input{
	width:80px;
	height:27px;
	border:none;
	font-size:14px;
	box-shadow: none; -moz-box-shadow:none; -webkit-box-shadow: none; 
	cursor:pointer;
	font-style:normal;
	text-transform:uppercase;
	padding:0;
}
.mtp-primary-color {
	background-color:#2773ae;
	display:inline-block; 
	width:46px; 
	height:27px;
	float:left;
	cursor:pointer;
	position:relative;
}
.mtp-primary-color:after {
	width:25px;
	height:25px;
	left:50%;
	top:50%;
	position:absolute;
	margin:-12px 0 0 -12px;
	content:'';}
.mtp-primary-color, .mtp-background-pattern li, .mtp-background-image li, .mtp-color li {
	width: 25px;
	height: 25px;
	float: left;
	border:1px solid #808080;
	margin-right:7px;
	margin-bottom:3px;
	list-style:none;
	cursor:pointer;
	}
.mtp-background-pattern, .mtp-background-image, .mtp-color {
	margin:0 -5px 0 0;
	width:120px;
}
.mtp-background-pattern li.pattern_0 {background:url('patterns/pattern_0.png') center;}
.mtp-background-pattern li.pattern_1 {background:url('patterns/pattern_1.png') center;}
.mtp-background-pattern li.pattern_2 {background:url('patterns/pattern_2.png') center;}
.mtp-background-pattern li.pattern_3 {background:url('patterns/pattern_3.png') center;}
.mtp-background-pattern li.pattern_4 {background:url('patterns/pattern_4.png') center;}
.mtp-background-pattern li.pattern_5 {background:url('patterns/pattern_5.png') center;}
.mtp-background-pattern li.pattern_6 {background:url('patterns/pattern_6.png') center;}
.mtp-background-pattern li.pattern_7 {background:url('patterns/pattern_7.png') center;}
.mtp-background-pattern li.pattern_8 {background:url('patterns/pattern_8.png') center;}
.mtp-background-pattern li.pattern_9 {background:url('patterns/pattern_9.png') center;}
.mtp-background-pattern li.pattern_10 {background:url('patterns/pattern_10.png') center;}
.mtp-background-pattern li.pattern_11 {background:url('patterns/pattern_11.png') center;}
.mtp-background-pattern li.pattern_12 {background:url('patterns/pattern_12.png') center;}
.mtp-background-pattern li.pattern_13 {background:url('patterns/pattern_13.png') center;}
.mtp-background-pattern li.pattern_14 {background:url('patterns/pattern_14.png') center;}
.mtp-background-pattern li.pattern_15 {background:url('patterns/pattern_15.png') center;}
.mtp-background-pattern li.pattern_16 {background:url('patterns/pattern_16.png') center;}
.mtp-background-image li.image_0 {background-image:url('images/image_0_s.png');}
.mtp-background-image li.image_1 {background-image:url('images/image_1_s.png');}
.mtp-background-image li.image_2 {background-image:url('images/image_2_s.png');}
.mtp-background-image li.image_3 {background-image:url('images/image_3_s.png');}
.mtp-background-image li {
	background-size:cover;
	background-position:center center;
	}

.mtp-color li.color_0 {background:#0EAE9B;}
.mtp-color li.color_1 {background:#058988;}
.mtp-color li.color_2 {background:#18A4D7;}
.mtp-color li.color_3 {background:#006892;}
.mtp-color li.color_4 {background:#004B69;}
.mtp-color li.color_5 {background:#FC4B2A;}
.mtp-color li.color_6 {background:#B90504;}
.mtp-color li.color_7 {background:#990100;}
.mtp-color li.color_8 {background:#CCCCCC;}
.mtp-color li.color_9 {background:#666666;}
.mtp-color li.color_10 {background:#000000;}

body.background-pattern{
	background-repeat:repeat; 
	background-position: center; 
	background-attachment:scroll;
}

body.background-cover{
	background-repeat:no-repeat; 
	background-position: center; 
	background-attachment:fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.iris-picker{
	position:absolute !important;
	background:#fff;
}
.iris-picker{display:block;position:relative; padding:0 22px 22px; margin-top:0 !important;}
.iris-picker,.iris-picker *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.iris-error{background-color:#ffafaf}
.iris-border{border-radius:3px;border:1px solid #aaa;width:200px;background-color:#fff}
.iris-picker-inner{position:absolute;top:0 !important;right:22px !important;left:22px !important;bottom:0}
.iris-border .iris-picker-inner{top:10px;right:10px;left:10px;bottom:10px}
.iris-picker .iris-square-inner{position:absolute;left:0;right:0;top:0;bottom:0}
.iris-picker .iris-square,.iris-picker .iris-slider,.iris-picker .iris-square-inner,.iris-picker .iris-palette{border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,0.4);height:100%;width:12.5%;float:left;margin-right:5%}
.iris-picker .iris-square{width:76%;margin-right:10%;position:relative}
.iris-picker .iris-square-inner{width:auto;margin:0}
.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-square-inner,.iris-ie-9 .iris-palette{box-shadow:none;border-radius:0}
.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-palette{outline:1px solid rgba(0,0,0,.1)}
.iris-ie-lt9 .iris-square,.iris-ie-lt9 .iris-slider,.iris-ie-lt9 .iris-square-inner,.iris-ie-lt9 .iris-palette{outline:1px solid #aaa}
.iris-ie-lt9 .iris-square .ui-slider-handle{outline:1px solid #aaa;background-color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"}
.iris-ie-lt9 .iris-square .iris-square-handle{background:none;border:3px solid #fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"}
.iris-picker .iris-strip{margin-right:0;position:relative}
.iris-picker .iris-strip .ui-slider-handle{position:absolute;background:none;right:-3px;left:-3px;border:4px solid #aaa;border-width:4px 3px;width:auto;height:6px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.2);opacity:.9;z-index:5;cursor:ns-resize}
.iris-strip .ui-slider-handle:before{content:" ";position:absolute;left:-2px;right:-2px;top:-3px;bottom:-3px;border:2px solid #fff;border-radius:3px}
.iris-picker .iris-slider-offset{position:absolute;top:11px;left:0;right:0;bottom:-3px}
.iris-picker .iris-square-handle{background:transparent;border:5px solid #aaa;border-radius:50%;border-color:rgba(128,128,128,.5);box-shadow:none;width:12px;height:12px;position:absolute;left:-10px;top:-10px;cursor:move;opacity:1;z-index:10}
.iris-picker .ui-state-focus .iris-square-handle{opacity:.8}
.iris-picker .iris-square-handle:hover{border-color:#999}
.iris-picker .iris-square-value:focus .iris-square-handle{box-shadow:0 0 2px rgba(0,0,0,.75);opacity:.8}
.iris-picker .iris-square-handle:hover::after{border-color:#fff}
.iris-picker .iris-square-handle::after{position:absolute;bottom:-4px;right:-4px;left:-4px;top:-4px;border:3px solid #f9f9f9;border-color:rgba(255,255,255,.8);border-radius:50%;content:" "}
.iris-picker .iris-square-value{width:8px;height:8px;position:absolute}
.iris-ie-lt9 .iris-square-value,.iris-mozilla .iris-square-value{width:1px;height:1px}
.iris-palette-container{position:absolute;bottom:0;left:0;margin:0;padding:0}
.iris-border .iris-palette-container{left:10px;bottom:10px}
.iris-picker .iris-palette{margin:0;cursor:pointer}

/*
@media only screen and (max-width: 767px) {
	#mtp-wrapper, #mtp-toggle {display:none!important;}
}
*/



#mtp-wrapper .options-link a {
  background-color: #2773ae;
  color: #fff;
  padding: 2px 0;
  border: 1px solid #808080;
  text-decoration: none;
  margin-right: 10px;
  display:inline-block;
  width:45px;
  text-align:center;
}
#mtp-wrapper .options-link a.active, #mtp-wrapper .options-link a:hover {
  background-color: #ed6642;
}

#mtp-wrapper .admin_options {
	display:none;}
.admin #mtp-wrapper  .admin_options {
	display:block;}