html,
body {
  font-family: "Muli-Regular";
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MavenPro-Regular";
  letter-spacing: -1px;
}
#wrapwrap footer h4 {
  font-size: 19px;
}
.oe_product .oe_product_cart section h5 a {
  font-size: 20px;
}
#products_grid_before .main-category {
  font-size: 20px;
}
#products_grid_before ul li a {
  font-size: 17px;
}
.nav.navbar-nav.navbar-right {
  font-family: "MavenPro-Regular";
  text-transform: uppercase;
}
