html,
body {
  font-family: "Abel-Regular";
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway-Regular";
}
.text-muted {
  font-family: "Abel-Regular";
  text-transform: none;
  letter-spacing: -0.5px;
  font-weight: 500;
}
#wrapwrap footer h4 {
  font-size: 18px;
}
.oe_product .oe_product_cart section h5 a {
  font-size: 17px;
}
#products_grid_before .main-category {
  font-size: 20px;
}
#products_grid_before ul li a {
  font-size: 18px;
}
.nav.navbar-nav.navbar-right {
  font-family: "Abel-Regular";
  text-transform: uppercase;
}
.navbar-header > a > img {
  margin-top: 7px;
  max-height: 40px;
}
