/* Colors */
/* GRAYS --------------------------------------------------------- */
/* Backgrounds Colors ------------------------------------------------*/
.text-blue {
  color: #5a8eaf;
}
.text-turquoise {
  color: #1fb1b0;
}
.text-green {
  color: #5e9c7d;
}
.text-yellow {
  color: #e5ca77;
}
.text-orange {
  color: #ce8b35;
}
.text-red {
  color: #c04e4e;
}
.text-pink {
  color: #f74b94;
}
.text-purple {
  color: #8578b9;
}
.text-brown {
  color: #7b5844;
}
